/* I am aiming for the grade of Exceeds Expectations and don't want anything less.
I have tested this in three browsers - Google Chrome, Microsoft Edge, and Mozilla Firefox. It worked fine.
I have checked the CSS with a CSS validator and found no errors. */


/*=============================== 
      Base Element Styles
  =============================== */

* {
    box-sizing: border-box;
}

    html {font-size: 18px;}

    body {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        background:  #a9d7ee;
    }

    h1 {
        font-size: 1.2em;
    }    
 
    h2 {
        font-weight: 700;
        margin-top: 30px;
        }

    h4 {
        font-weight: 400;
        margin-bottom: 0;
        }

    .banner {
        text-align: center;
        text-transform: uppercase;
        background: rgb(24, 24, 95);
        color: rgb(248, 248, 242);
        max-width: 100%;
        padding: 0.5rem;
    }

    fieldset {
        border: none;
   }

/*==============================
      Base Layout Styles
  ==============================*/

    .signup {
        text-align: center;
        color: rgb(38, 13, 126);
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        border-bottom: 4px solid black;
        margin-bottom: 3px;
    }

    .registration {
        border-top: 2px solid black;
    } 

    .contact-info {
        border-bottom: 2px solid black;
    }

    .choices, 
    .format, 
    .topics, 
    select {
        color: rgb(127, 53, 170);
    } 

    .flex-pair {
        display: flex;
        flex-direction: column;
        color: rgb(127, 53, 170);
    }

    legend {
        padding-top: 15px;
        color: rgb(56, 22, 78);
        font-size: 1.4em;
        font-weight: 700;
        margin-bottom: 20px;
    } 
    
    .choices legend {
        margin-bottom: 0;
    }

    .contact-info input, 
    select, 
    textarea {
        height: 50px;
        margin-bottom: 15px;
        width: 100%;
        background-color: rgb(255, 246, 246);
    }

    input:focus,
    select:focus, 
    textarea:focus {
        background: rgb(229, 229, 248);
        transition: background-color 500ms linear;
    }

   #other_topics {
        width: 100%;
        min-height: 100px;
   }

     input::placeholder {
         text-align: right;
         color: rgb(127, 53, 170);
         font-style: italic;
         font-size: 0.7em;
     }

    #zip {
        width: 33.33%;
    } 

    .choices, 
    .format {
        line-height: 2.0;
    }

    button {
        color: white;
        background:rgb(56, 22, 78);
        width: 100%;
        padding: 12px 0;
        margin: auto;
        border-radius: 6px;
        cursor: pointer;
    }

    /* ---- Footers ---- */

    .copyright {
        text-align: center;
        font-size: 0.75em;
    }

  /*================================= 
            Media Query
    =================================*/

    @media (min-width: 768px) {

        .registration {
           margin: auto;
           width: 80%;
        }

        .signup {
            width: 80%;
            margin: auto auto 2px;
        }

        .flex-pair {
            display: flex;
            flex-direction: row;
        }

        .contact-info input,
        .contact-info select {
        flex-grow: 1;
        flex-basis: 80%;
      }

        .contact-info label {
        flex-basis: 20%;
      }
        #zip {
            max-width: 25%;
        }
   }