* {
    box-sizing: border-box;
}

    html {font-size: 18px;}

    body {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        background:  #a9d7ee;
    }

    h1 {
        font-size: 1.2em;
    }    
 
    h2 {
        font-weight: 700;
        margin-top: 30px;
        }

    h4 {
        font-weight: 400;
        margin-bottom: 0;
        }

    .banner {
        text-align: center;
        text-transform: uppercase;
        background: rgb(36, 35, 35);
        color: rgb(248, 248, 242);
        max-width: 100%;
        padding: 0.5rem;
    }

    .signup {
        text-align: center;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        border-bottom: 4px solid black;
        margin-bottom: 3px;
    }

    .registration {
        border-top: 2px solid black;
    } 

    .newsletter {
        border-top: 2px solid black;
    } 

    .flex-pair {
        display: flex;
        flex-direction: column;
    }

    legend {
        padding-top: 15px;
        font-size: 1.4em;
        font-weight: 700;
        margin-bottom: 20px;
    }  

    .contact-info input, 
    select, 
    textarea {
        height: 50px;
        margin-bottom: 15px;
        width: 100%;
        background-color: rgb(248, 248, 242);
    }

    input:focus,
    select:focus, 
    textarea:focus {
        background: rgb(230, 230, 241);
    }

   fieldset {
        border: none;
   }

   #other_topics {
        width: 100%;
        height: 100px;
   }

    input[placeholder="Required  "] {
        font-style: italic;
        text-align: right;
        font-size: 0.9em;
     }

     input::placeholder {
         text-align: right;
     }

    #zip {
        width: 33.33%;
    } 

    .choices, 
    .format {
        line-height: 2;
    }

    button {
        color: white;
        background: rgb(44, 156, 128);
        width: 100%;
        padding: 12px 0;
        margin: auto;
        border-radius: 6px;
        cursor: pointer;
    }

    .copyright {
        text-align: center;
        font-size: 0.75em;
    }

    /* Media Query */

    @media (min-width: 768px) {

        .registration {
           margin: auto;
           width: 80%;
        }

        .signup {
            width: 80%;
            margin: auto auto 2px;
        }

        .flex-pair {
            display: flex;
            flex-direction: row;
        }

        .contact-info input,
        .contact-info select {
        flex-grow: 1;
        flex-basis: 80%;
      }

        .contact-info label {
        flex-basis: 20%;
      }
        #zip {
            max-width: 25%;
        }
   }