* {
    box-sizing: border-box;
}

    html {font-size: 18px;}

    body {
        margin: 0 auto;
        max-width: 768px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        background:  #d3e7f1;
        color: #354;
    }

    input {
        border: 1px solid rgb(19, 7, 121);
    }
  
    .banner {
        text-align: center;
        text-transform: uppercase;
        background: #111;
        color: #f9f4f0;
        max-width: 100%;
        padding: 0.5rem;
    }

    .signup {
        text-align: center;
        padding-top: 0.5em;
     }

    .signup p {
        padding-bottom: 1.5em;
        border-bottom: 5px double #111 ;
    }

    label {
        margin-bottom: 10px;
        font-weight: 700;
    }

    .contact-info {
        padding: 50px;
    }
      
   .flex-pair {
        display: flex;
        flex-direction: column;
    }
      
    .contact-info input {
        height: 50px;
        margin-bottom: 15px;
    }

    .contact-info legend {
        font-weight: 700;
    }